{
  "telemetry": {
    "metrics": true,
    "content": true,
    "artifactManifest": false
  },
  "onboardingCompleted": true,
  "agentId": "gemini",
  "skillId": null,
  "designSystemId": "default",
  "orbit": {
    "enabled": false,
    "time": "08:00",
    "templateSkillId": "orbit-general"
  },
  "privacyDecisionAt": 1780674772457,
  "customInstructions": null,
  "agentModels": {
    "amr": {
      "model": "gemini-3-flash-preview"
    },
    "antigravity": {
      "model": "Gemini 3.5 Flash (High)"
    },
    "gemini": {
      "model": "gemini-3-flash-preview"
    }
  },
  "installationId": "675091ee-873b-4da6-93b4-41b2291b0eec",
  "projectLocations": [],
  "defaultProjectLocationId": "default",
  "recentLinkedDirs": [
    "{{ .chezmoi.homeDir }}\\Documents\\GitHub\\EduPlay"
  ]
}