{
  "providers": {
    "openai": {
      "apiKey": "",
      "baseUrl": "https://api.openai.com/v1"
    },
    "nanobanana": {
      "apiKey": "{{ .nano_banana_api_key }}",
      "baseUrl": "https://generativelanguage.googleapis.com"
    },
    "elevenlabs": {
      "apiKey": "{{ .elevenlabs_api_key }}",
      "baseUrl": "https://api.elevenlabs.io"
    }
  }
}