& oh-my-posh init pwsh --config '{{ .chezmoi.homeDir }}\AppData\Local\Programs\oh-my-posh\themes\1_shell.omp.json'  | Invoke-Expression 
Import-Module Terminal-Icons
Set-PSReadLineOption -PredictionViewStyle ListView